.careers-intro {
    width: 100vw;
}

.careers-intro h3 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    letter-spacing: 0.035em;
    color: #20335e;
    margin-left: 5%;
    margin-top: 30px;
}

.careers-intro button {
    background: #162942;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 25px;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 18px;
    margin: 30px 0;
    margin-left: 5%;
}
.values-list {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
}

.value-item {
    background: #f4f7f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 10px;
    padding-left: 35px;
}

.value-item p {
    font-family: "Gelasio";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.035em;
    width: 80%;

    color: #455a64;
}

.value-item h1 {
    font-family: "Gelasio";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.035em;
    color: #455a64;
}

.roles h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #20335e;
    margin-left: 5%;
    margin-top: 30px;
}

.roles-list {
    width: 90vw;
    margin: 20px auto;
    margin-bottom: 60px;
    padding: 50px 200px;
    padding-right: 50px;
    border: 1px solid #f0f0f0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 2px 2px 0px 0px;
}

.roles-item {
    margin-bottom: 30px;
}

.role-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #20335e;
    margin-bottom: 13px;
}

.role-loc {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #6179a2;
}

.role-desc {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    display: flex;
    align-items: center;

    color: #000000;
    width: 80%;
}

.horizontal-line {
    width: 100%;
    height: 0px;
    border-bottom: 2px solid #8a8a8a;
    margin-top: 70px;
}

.role-header button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 30px;
    color: #ffffff;
}

.role-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.careers-join {
    text-align: center;
}

.careers-join .title {
    font-family: "Gelasio";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.035em;
    color: #20335e;
    margin-bottom: 40px;
}

.careers-join p:not(.title) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    color: #000000;
    width: 55%;
    margin: 0 auto;
}

.careers-join p:nth-child(3) {
    margin-top: 40px;
    margin-bottom: 60px;
}

.careers-join button {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    background: #162942;
    border-radius: 10px;
    padding: 10px 28px;
}

@media screen and (max-width: 1000px) {
    .values-list {
        grid-column-gap: 15px;
    }

    .value-item {
        padding-left: 20px;
    }

    .value-item p {
        width: 90%;
    }

    .roles-list {
        padding-left: 100px;
    }
}

@media screen and (max-width: 900px) {
    .values-list {
        width: 95%;
    }

    .roles-list {
        padding-left: 75px;
    }
}

@media screen and (max-width: 800px) {
    .values-list {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);

        grid-row-gap: 35px;
    }

    .roles-list {
        padding-left: 50px;
    }
}

@media screen and (max-width: 700px) {
    .role-name {
        font-size: 17px;
    }

    .role-loc {
        font-size: 17px;
    }

    .role-desc {
        width: 95%;
        font-size: 16px;
    }

    .role-header button {
        padding: 8px 19px;
        font-size: 16px;
    }

    .value-item p {
        font-size: 17px;
    }

    .value-item h1 {
        font-size: 22px;
    }

    .careers-join p:not(.title) {
        width: 90%;
    }

    .careers-join .title {
        font-size: 35px;
    }
}
