.section-head {
    width: 100vw;
    padding: 50px 30px;
    padding-left: 80px;
    background: #f4f7f9;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.section-head .goal {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-head .headline {
    width: 35%;
}

.section-head .headline h1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 36px;
    letter-spacing: 0.035em;
    color: #20335e;
}

.section-head .headline h3 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    display: flex;
    align-items: center;
    letter-spacing: 0.035em;
    color: #20335e;
}

.section-head .goal p {
    /* Body 3 */

    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    /* Text Blue */

    color: #20335e;
}

@media screen and (max-width: 900px) {
    .section-head {
        flex-direction: column;
        gap: 30px;
    }

    .section-head .goal,
    .section-head .headline {
        width: 100%;
    }

    .section-head .headline h1 {
        font-size: 30px;
    }

    .section-head .headline h3 {
        font-size: 14px;
    }

    .section-head .goal p {
        font-size: 13px;
    }
}

@media screen and (max-width: 564px) {
    .section-head {
        padding-left: 50px;
    }
}
