.nav {
    /* Nav/Nav Header */


/* Auto layout */

display: flex;
width: 100vw;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 65px;
/* gap: 62px; */

/* width: 1440px; */
/* height: 80px; */

background: #FFFFFF;
}


.logo {
  /* width: 170px;
  height: 66px; */

/* Inside auto layout */
  width: 90px;
  object-fit: contain;
  order: 0;
  /* flex-grow: 0; */
}

ul {
  list-style: none;
  cursor: pointer;
}

.nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
  width: 90%
}

.nav ul li:not(.btn) {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 156% */


/* Text Blue */

color: #20335E;
}





.line {
  /* Line 5 */


width: 48px;
height: 0px;

/* Text Blue */

background: #20335E;
/* Text Blue */

border: 1px solid #20335E;
transform: rotate(90deg);

/* Inside auto layout */

order: 4;
flex-grow: 0;
}


.btn {
  /* width: 96px;
  height: 50px; */

/* B3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 156% */

/* display: flex;
align-items: center; */

/* White */

color: #FFFFFF;
background: #20335E;
border-radius: 10px;

padding: 10px 18px;


/* Inside auto layout */

}


.section-head {
width: 100vw;
padding: 50px 30px;
padding-left: 80px;

/* Grey Blue */

background: #F4F7F9;
border-radius: 5px;

display: flex;
align-items: center;
gap: 10px;
}

.section-head .goal {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.section-head .headline {
  width: 35%;
}

.section-head .headline h1 {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 36px;
/* or 80% */

letter-spacing: 0.035em;

/* Text Blue */

color: #20335E;
}

.section-head .headline h3 {
  font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 55px;
/* identical to box height, or 275% */

display: flex;
align-items: center;
letter-spacing: 0.035em;

/* Text Blue */

color: #20335E;

}

.section-head .goal p {
  /* Body 3 */

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* or 125% */


/* Text Blue */

color: #20335E;
}




.blank {
  height: 250px;
  position: relative;
}

.blank img {
  height: 80px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

@media screen and (max-width: 900px) {
    .section-head {
        flex-direction: column;
        gap: 30px;
    }

    .section-head .goal, .section-head .headline {
      width: 100%;
    }

    .section-head .headline h1 {
      font-size: 30px;
    }

    .section-head .headline h3 {
      font-size: 10px;
    }

    .section-head .goal p {
      font-size: 13px;
    }
}

@media screen and (max-width: 800px) {
    .nav {
      flex-direction: column;
      justify-content: center;
    }
    
    .nav ul {
      gap: 15px;
      width: 100%;
      justify-content: center;
    }
}


#checkbox, .sidebar__btn {
  display: none;
}


@media screen and (max-width: 564px) {
    .nav {
        display: block;
        padding: 8px 20px;
    }

    .sidebar__nav {
            position: fixed;
            background-color: white;
            top: 0;
            left: 100%;
            height: 100vh;
            width: 100%;
            z-index: 200;
            transition: transform 1s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 100px;
            text-align: center;
            align-items: center;
}

#checkbox {
          z-index: 400;
            position: fixed;
            cursor: pointer;
            top: 10px;
            right: 20px;
            height: 48px;
            width: 48px;
            display: block;
            opacity: 0;
            /* border: 1px solid red; */
}

.sidebar__btn {
  display: block;
   position: fixed;
   top: 10px;
   right: 20px;
   z-index: 300;
}

.sidebar__btn span {
  display: block;
  width: 50%;
  padding: 1px 20px;
  margin: 9.6px auto;
  background-color: #20335E;
  transition: all .5s ease;
  transform-origin: center;
}

.line {
    visibility: collapse;
}



#checkbox:checked~.sidebar__nav {
                transform: translate(-100%);
            }
#checkbox:checked+.sidebar__btn span:nth-child(1) {
                transform: translateY(380%) rotate(45deg);
            }
#checkbox:checked+.sidebar__btn span:nth-child(2) {
                opacity: 0;
            }
#checkbox:checked+.sidebar__btn span:nth-child(3) {
                transform:  translateY(-380%) rotate(-45deg);
            }
}