.contact h3 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 55px;
    letter-spacing: 0.035em;

    color: #20335e;
    margin: 25px;
    margin-left: 5%;
}

.contact-main {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.map {
    width: 60%;
}

.contact-info {
    width: 40%;
}

.map img {
    width: 100%;
}

.map p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #5c6e79;
    margin-top: 10px;
}

.contact-key {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;

    color: #20335e;
}

.contact-value {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #20335e;
}

.contact-info button {
    background: #162942;
    border-radius: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.035em;

    color: #ffffff;

    padding: 6px 24px;
    align-self: flex-start;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 100px;
}

@media screen and (max-width: 900px) {
    .contact-info {
        padding-left: 20px;
    }

    .contact-key {
        font-size: 15px;
    }

    .contact-value {
        font-size: 15px;
    }

    .contact-info button {
        font-size: 15px;
        padding: 4 18px;
    }
}

@media screen and (max-width: 700px) {
    .contact-main {
        flex-wrap: wrap;
    }

    .map,
    .contact-info {
        width: 100%;
    }

    .contact-info {
        gap: 40px;
    }

    .map p {
        font-size: 13px;
    }
}
